PORT=5000
HOST=0.0.0.0
JWT_SECRET=replace_with_a_long_random_secret
ADMIN_PASSWORD=Lunahealthy@@99xx
MONGODB_URI=mongodb://127.0.0.1:27017/influencer_system
GOOGLE_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLScP6eIywl_XpNrRqfR-COSpCWuPfaAzJfabTvEfmoKJ24jpDA/formResponse
GOOGLE_FORM_TIMEOUT_MS=10000
